#game-board{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 10px;
    margin: 25px;
}
.card {
    grid-column: 1 5;
    grid-row: 1 5;
    position: relative;
    width: 200px;
    height: 200px;
    transition: transform 0.5s;
}

.card-face {
    position: absolute;
    width: 200px;
    height: 200px;
}

.card-front {
    background-color: #f1f1f1;
}

.card-back {
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 30px;
    color: white;
    transform: rotateY(-180deg);
}

.card {
    .card-face{
        z-index: 1;
        background-color: #f1f1f1;
    }
    .card-back{
        z-index: 0;
    }
}

.card.flip {
    .card-face{
        z-index: 0;
    }
    .card-back{
        z-index: 1;
        background-color: #333;
    }
    transform: rotateY(180deg);
}
